body{
    width: 50%;
    margin: auto;
}

.booleaner{
    background-color: aqua; height: 20%;
    background-image: url(img/pattern.png); background-size: 400px;
}

h1{
    font-size: 48px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.scritto{
    display: block;
    margin-top: 8px;
    margin-bottom: 0px;
    color: rgb(153,153,153);
}

.blu{
    color: blue;
}

.data{
    margin-top: 5px;
    display: block;
    color: rgb(153,153,153);
}

.evidenziato1{
    background-color: yellow;
}

.evidenziato2{
    background-color: yellow;
}

table {
    border:1px; 
    width:100%;
    height:80%;
    border-collapse: collapse;
}

h3{
    color: rgb(153,153,153);
}

